<?xml version="1.0"?>
<robot name="camera" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="usb_camera" params="prefix:=camera">
		<link name="${prefix}_link">
			<inertial>
				<mass value="0.1"/>
				<origin xyz="0 0 0"/>
				<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
			</inertial>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<cylinder radius="0.015" length="0.04"/>
				</geometry>
				<material name="balck"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<cylinder radius="0.03" length="0.08"/>
				</geometry>
			</collision>
		</link>
	</xacro:macro>
</robot>